# New Beer Recommendation System

The goal of this recommendation system is to recommend potential customers for a new product. In this case the new product is a new beer that we’ll define with certain attributes such as Style (India Pale Ale, Belgian Ale) and the Alcohol by Volume (ABV). In order to achieve this, I’m going to be using a Dataset that was scraped from the RateBeer website that contains User Reviews for all sorts of beers. This dataset contains ratings from April 2000 to November 2011.

## Loading + Pre Processing the Data

In [154]:
# Import statements
import pandas as pd
import numpy as np

In [179]:
# load our RateBeer dataset that has filtered out columns
beer_ratings_df = pd.read_csv( './reduced_ratebeer_dataset.csv' )

In [156]:
beer_ratings_df.head()

,name,beerId,brewerId,ABV,style,overall,profileName
0,John Harvards Simcoe IPA,63836,8481,5.4,India Pale Ale &#40;IPA&#41;,13,hopdog
1,John Harvards Simcoe IPA,63836,8481,5.4,India Pale Ale &#40;IPA&#41;,13,TomDecapolis
2,John Harvards Cristal Pilsner,71716,8481,5,Bohemian Pilsener,14,PhillyBeer2112
3,John Harvards Fancy Lawnmower Beer,64125,8481,5.4,K�lsch,8,TomDecapolis
4,John Harvards Fancy Lawnmower Beer,64125,8481,5.4,K�lsch,8,hopdog

In [89]:
beer_ratings_df.dtypes

name           object
beerId         object
brewerId        int64
ABV            object
style          object
overall         int64
profileName    object
dtype: object

In [90]:
# encode category values to codes
#beer_ratings_df["style"] = beer_ratings_df["style"].astype('category')
#beer_ratings_df["style_cat"] = beer_ratings_df["style"].cat.codes

beer_ratings_df["brewerId"] = beer_ratings_df["brewerId"].astype('category')
#beer_ratings_df["brewerId_cat"] = beer_ratings_df["brewerId"].cat.codes

beer_ratings_df["beerId"] = beer_ratings_df["beerId"].astype('category')
beer_ratings_df["beerId_cat"] = beer_ratings_df["beerId"].cat.codes

beer_ratings_df["profileName"] = beer_ratings_df["profileName"].astype('category')
beer_ratings_df["userId"] = beer_ratings_df["profileName"].cat.codes

# drop entries that do not specify Alcohol by Volume
beer_ratings_df = beer_ratings_df[beer_ratings_df.ABV != '-']

In [91]:
beer_ratings_df.head()

,name,beerId,brewerId,ABV,style,overall,profileName,beerId_cat,userId
0,John Harvards Simcoe IPA,63836,8481,5.4,India Pale Ale &#40;IPA&#41;,13,hopdog,105412,18486
1,John Harvards Simcoe IPA,63836,8481,5.4,India Pale Ale &#40;IPA&#41;,13,TomDecapolis,105412,10465
2,John Harvards Cristal Pilsner,71716,8481,5,Bohemian Pilsener,14,PhillyBeer2112,106618,8190
3,John Harvards Fancy Lawnmower Beer,64125,8481,5.4,K�lsch,8,TomDecapolis,105458,10465
4,John Harvards Fancy Lawnmower Beer,64125,8481,5.4,K�lsch,8,hopdog,105458,18486

In [92]:
userId_to_Name = beer_ratings_df[['userId','profileName']].drop_duplicates()
userId_to_Name.head()

   userId     profileName
0   18486          hopdog
1   10465    TomDecapolis
2    8190  PhillyBeer2112
7    5269         JFGrind
8   16573        egajdzis

In [93]:
beers_info =  beer_ratings_df[['name', 'beerId_cat','brewerId', 'ABV', 'style']].drop_duplicates()

In [94]:
beers_info.head()

,name,beerId_cat,brewerId,ABV,style
0,John Harvards Simcoe IPA,105412,8481,5.4,India Pale Ale &#40;IPA&#41;
2,John Harvards Cristal Pilsner,106618,8481,5,Bohemian Pilsener
3,John Harvards Fancy Lawnmower Beer,105458,8481,5.4,K�lsch
7,John Harvards Grand Cru,106619,8481,7,Belgian Ale
10,John Harvards Belgian Tripel,106617,8481,8.5,Abbey Tripel

## Taking a Sample to Prototype On

In [99]:
# lets take a sample of the dataframe for prototyping the final model
sample_df = beer_ratings_df.sample(1000)

In [100]:
beer_user_ratings = sample_df.pivot_table(index='userId', columns='beerId_cat', values='overall') 
beer_user_ratings = beer_user_ratings.fillna(0)

In [101]:
import numpy as np
def als(R, K, steps, alpha, beta):
    m,n = R.shape
    K = K
    P = np.random.rand(m, K)
    Q = np.random.rand(K, n)
    steps = steps
    alpha = alpha
    beta = beta

    for step in range(steps):
        if(step%50 == 0):
            print("Step: {}".format(step))
            final_ratings = P.dot(Q)
            print(final_ratings)
        for i in range(m):
            for j in range(n):
                if R[i][j] > 0:
                    e_ij = R[i][j] - np.dot(P[i,:], Q[:,j])
                    for k in range(K):
                        P[i][k] = P[i][k] + alpha * (2 * e_ij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * e_ij * P[i][k] - beta * Q[k][j])

        eR = np.dot(P,Q)
        e = 0
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)
                    for k in range(K):
                        e = e + (beta/2) * ( pow(P[i][k],2) + pow(Q[k][j],2) )
        if(step%50 == 0):
            print("Error: {}".format(e))
            print("----------")
        if e < 0.001:
            break
            
    return P,Q

In [102]:
P,Q = als(beer_user_ratings.values, 2, 500, 0.005, 0.25)

final_ratings = P.dot(Q)
print(final_ratings)

Step: 0
[[0.57400724 0.33415212 0.89370092 ... 1.03621195 1.22846436 1.04546714]
 [0.50236198 0.26486559 0.74230071 ... 0.73572104 0.90598436 0.71551151]
 [0.25780486 0.11834174 0.35552962 ... 0.26843874 0.35709503 0.24001833]
 ...
 [0.0920485  0.098519   0.2082452  ... 0.445028   0.47258774 0.49263635]
 [0.25602682 0.16672086 0.42416553 ... 0.57189304 0.65635768 0.59416703]
 [0.29114682 0.17244753 0.45757781 ... 0.54395232 0.64125083 0.55168466]]
Error: 165181.40333941072
----------
Step: 50
[[ 3.39186392  3.40737683  4.517768   ...  4.90540231  4.60256333
   4.63455438]
 [10.34581797  9.66198159 13.50176547 ... 14.0423121  12.81303644
  13.27531316]
 [10.13968246  7.87608122 12.62632027 ... 11.75741099  9.88672613
  11.1345721 ]
 ...
 [ 8.91919114  8.01506485 11.52022348 ... 11.71008598 10.51884948
  11.07429633]
 [12.23297778  9.52372473 15.24121494 ... 14.21193556 11.96410732
  13.4587623 ]
 [12.02042502 10.56909276 15.43722944 ... 15.48872133 13.78598115
  14.65069801]]
Error: 3426.90940141966
----------
Step: 100
[[ 3.3526556   3.24118468  4.43780587 ...  4.77397154  4.44303801
   4.50576295]
 [10.36263637  9.46861257 13.50352074 ... 14.0531737  12.79406523
  13.27123832]
 [10.61394824  8.07011532 13.19935089 ... 12.31224995 10.32263654
  11.65080205]
 ...
 [ 9.55320835  8.34411336 12.29942904 ... 12.46333593 11.13709783
  11.7754451 ]
 [12.26255685  9.32791799 15.25121022 ... 14.230163   11.93336821
  13.46560637]
 [12.06814796 10.37348441 15.47243433 ... 15.53051511 13.78322491
  14.67585946]]
Error: 3373.573424435585
----------
Step: 150
[[ 3.29562665  3.08151717  4.34090937 ...  4.63534845  4.28438722
   4.37109849]
 [10.37573404  9.29174336 13.50506939 ... 14.06272091 12.77729674
  13.2676176 ]
 [10.99972754  8.19661294 13.66535881 ... 12.76627715 10.67531785
  12.07201952]
 ...
 [10.05311309  8.56253897 12.91160472 ... 13.05519614 11.61588061
  12.32439076]
 [12.2866426   9.14516786 15.26003704 ... 14.24638794 11.90621328
  13.47184115]
 [12.10836435 10.19214081 15.50358405 ... 15.56757894 13.78077055
  14.69823683]]
Error: 3348.997459300835
----------
Step: 200
[[ 3.23902109  2.94269487  4.24768092 ...  4.50583076  4.1383068
   4.24583243]
 [10.38733414  9.14764049 13.50647702 ... 14.071157   12.76251775
  13.26445415]
 [11.3142458   8.29094557 14.04364642 ... 13.13721897 10.96019919
  12.4151671 ]
 ...
 [10.44902076  8.71730297 13.39314523 ... 13.52040206 11.98625196
  12.75428611]
 [12.30793578  8.9960372  15.26783628 ... 14.26081708 11.88223178
  13.4775102 ]
 [12.14396355 10.04490549 15.5311392  ... 15.60042807 13.77858968
  14.71813281]]
Error: 3334.0812995278106
----------
Step: 250
[[ 3.18767406  2.82386886  4.16360554 ...  4.38952706  4.00744023
   4.13369117]
 [10.39760341  9.02970854 13.50775127 ... 14.07861007 12.74949082
  13.2616875 ]
 [11.57073716  8.36161768 14.35081786 ... 13.44043761 11.19044254
  12.6948561 ]
 ...
 [10.76406113  8.82710724 13.77356416 ... 13.88730424 12.27331116
  13.09207618]
 [12.32675585  8.87387651 15.27472628 ... 14.2736366  11.86105488
  13.48264304]
 [12.17546332  9.92490523 15.55550666 ... 15.6295256  13.77665298
  14.73580563]]
Error: 3324.537043655337
----------
Step: 300
[[ 3.14252891  2.72255524  4.08953371 ...  4.28669513  3.89152126
   4.03478201]
 [10.40669102  8.93280168 13.50890081 ... 14.08519372 12.73800707
  13.2592657 ]
 [11.78016085  8.41483228 14.60055266 ... 13.68866568 11.37681552
  12.92315717]
 ...
 [11.01610913  8.90504012 14.07558639 ... 14.17782968 12.496313
  13.35853545]
 [12.34338671  8.77342789 15.28081209 ... 14.28501638 11.84235614
  13.48727389]
 [12.20332623  9.82675076 15.57704923 ... 15.65528761 13.77493411
  14.75149069]]
Error: 3318.2742708816313
----------
Step: 350
[[ 3.10334504  2.63617583  4.02491374 ...  4.19641353  3.78939947
   3.94812348]
 [10.41473023  8.85289011 13.50993482 ... 14.09100865 12.72788273
  13.25714402]
 [11.95141623  8.45511078 14.80390762 ... 13.89225055 11.52796532
  13.10985097]
 ...
 [11.21880154  8.96021345 14.31648657 ... 14.40870742 12.6698329
  13.56946681]
 [12.35808044  8.6905599  15.28618685 ... 14.29511065 11.82584679
  13.49143932]
 [12.22796488  9.74621809 15.5960898  ... 15.67808696 13.7734094
  14.76540157]]
Error: 3314.086214906454
----------
Step: 400
[[ 3.06953983  2.56243821  3.96880199 ...  4.11743988  3.69970191
   3.87245389]
 [10.42183985  8.78679359 13.51086257 ... 14.09614405 12.71895605
  13.25528385]
 [12.09167682  8.48574855 14.96975624 ... 14.05953893 11.65078901
  13.26280549]
 ...
 [11.38256035  8.99900559 14.50941879 ... 14.59271688 12.80491728
  13.73690717]
 [12.3710607   8.62200265 15.29093309 ... 14.30405888 11.81127143
  13.49517656]
 [12.24974674  9.67997305 15.6129155  ... 15.69825704 13.77205761
  14.77773122]]
Error: 3311.240191932814
----------
Step: 450
[[ 3.04046265  2.49939036  3.9201927  ...  4.04849934  3.62105852
   3.80649991]
 [10.42812574  8.73198312 13.51169321 ... 14.1006789  12.71108472
  13.25365185]
 [12.20671624  8.50915804 15.10521027 ... 14.19725336 11.75078145
  13.38834112]
 ...
 [11.51540677  9.02592664 14.66446917 ... 14.73968514 12.90999197
  13.87008599]
 [12.38252577  8.56514916 15.29512392 ... 14.31198673 11.79840424
  13.49852233]
 [12.26899871  9.62536497 15.6277813  ... 15.71609544 13.77085971
  14.78865345]]
Error: 3309.2776464785934
----------
[[ 3.01548793  2.44539076  3.87813    ...  3.98838605  3.55218231
   3.7490687 ]
 [10.43368206  8.68643305 13.51243552 ... 14.10468307 12.70414343
  13.25221914]
 [12.30118732  8.52711684 15.21597746 ... 14.31081516 11.83232712
  13.49154197]
 ...
 [11.62356665  9.04420158 14.78943623 ... 14.85723023 12.99153455
  13.9761376 ]
 [12.39265135  8.51790664 15.29882402 ... 14.31900714 11.78704559
  13.50151205]
 [12.28601127  9.58027238 15.64091347 ... 15.73186739 13.76979863
  14.79832431]]

For this experiment we will be analyzing the ratings for a particular user,  "mribm"

In [161]:
mr_ibm_user_ratings = final_ratings[608] 
for beerIndex in reversed(np.argsort(mr_ibm_user_ratings)[-10:]):
    beerId = beer_user_ratings.columns.values[beerIndex]
    print("Predicted Score for Beer with Id ({}) : {}\n\n".format(beerId, mr_ibm_user_ratings[beerIndex]))

Predicted Score for Beer with Id (85094) : 20.918637532323952


Predicted Score for Beer with Id (44870) : 20.237246742111445


Predicted Score for Beer with Id (20681) : 20.120632737746007


Predicted Score for Beer with Id (67716) : 19.924784703813692


Predicted Score for Beer with Id (31410) : 19.570419198464386


Predicted Score for Beer with Id (3017) : 19.391613131558483


Predicted Score for Beer with Id (101) : 19.239391783546225


Predicted Score for Beer with Id (30877) : 19.102875527738355


Predicted Score for Beer with Id (81231) : 19.02147547684467


Predicted Score for Beer with Id (40328) : 19.00841171436849

# Recommending a New Beer to Users in Our Current Set

By using ALS we were able to get predict what the top beers for a user are. Now given the top 20 beers we can now check what the properties are for each of the beers.

In [162]:
# lets get the predictions for the first user
def print_beer_properties(beerId):
    print("Beer Id: {}".format(beerId))
    
    beerName = beers_info.loc[beers_info['beerId_cat'] == beerId]['name'].values[0]
    abv =  beers_info.loc[beers_info['beerId_cat'] == beerId]['ABV'].values[0]
    brewerdId = beers_info.loc[beers_info['beerId_cat'] == beerId]['brewerId'].values[0]
    style  = beers_info.loc[beers_info['beerId_cat'] == beerId]['style'].values[0]
    
    print("Beer Name: {}".format(beerName))
    print("ABV: {}".format(abv))
    print("BrewerID: {}".format(brewerdId))
    print("Style: {}".format(style))
    
for beerIndex in reversed(np.argsort(mr_ibm_user_ratings)[-20:]):
    beerId = beer_user_ratings.columns.values[beerIndex]
    print_beer_properties(beerId)
    print("Predicted Score for Beer with Id ({}) : {}".format(beerId, mr_ibm_user_ratings[beerIndex]))
    print("-"*10)

Beer Id: 85094
Beer Name: Cigar City Hunahpu�s Imperial Stout - Whiskey Barrel Aged
ABV: 11
BrewerID: 9990
Style: Imperial Stout
Predicted Score for Beer with Id (85094) : 20.918637532323952
----------
Beer Id: 44870
Beer Name: Valley Brew Decadence 12 Cuvee Speciale
ABV: 13
BrewerID: 3490
Style: Abt/Quadrupel
Predicted Score for Beer with Id (44870) : 20.237246742111445
----------
Beer Id: 20681
Beer Name: Valley Brew Uberhoppy Imperial IPA
ABV: 9.5
BrewerID: 3490
Style: Imperial/Double IPA
Predicted Score for Beer with Id (20681) : 20.120632737746007
----------
Beer Id: 67716
Beer Name: N�rrebro Imperial Sk�rgaards Porter Cabernet Barrel
ABV: 9
BrewerID: 3992
Style: Imperial/Strong Porter
Predicted Score for Beer with Id (67716) : 19.924784703813692
----------
Beer Id: 31410
Beer Name: Pizza Port Hop Suey Double IPA
ABV: 9
BrewerID: 1538
Style: Imperial/Double IPA
Predicted Score for Beer with Id (31410) : 19.570419198464386
----------
Beer Id: 3017
Beer Name: Westvleteren 12
ABV: 10.2
BrewerID: 623
Style: Abt/Quadrupel
Predicted Score for Beer with Id (3017) : 19.391613131558483
----------
Beer Id: 101
Beer Name: Samuel Adams Honey Porter
ABV: 5.25
BrewerID: 32
Style: Porter
Predicted Score for Beer with Id (101) : 19.239391783546225
----------
Beer Id: 30877
Beer Name: Avery Mephistopheles Stout
ABV: 16.43
BrewerID: 15
Style: Imperial Stout
Predicted Score for Beer with Id (30877) : 19.102875527738355
----------
Beer Id: 81231
Beer Name: Bischoff P�lzer hell
ABV: 4.9
BrewerID: 1208
Style: Dortmunder/Helles
Predicted Score for Beer with Id (81231) : 19.02147547684467
----------
Beer Id: 40328
Beer Name: Master Tmav� 18�
ABV: 7
BrewerID: 71
Style: Baltic Porter
Predicted Score for Beer with Id (40328) : 19.00841171436849
----------
Beer Id: 30966
Beer Name: Midnight Sun Berserker
ABV: 12.7
BrewerID: 424
Style: Imperial Stout
Predicted Score for Beer with Id (30966) : 18.901179104337047
----------
Beer Id: 668
Beer Name: Bert Grants Perfect Porter
ABV: 4
BrewerID: 155
Style: Porter
Predicted Score for Beer with Id (668) : 18.875028690534357
----------
Beer Id: 48169
Beer Name: The Bruery Black Orchard
ABV: 5.7
BrewerID: 9462
Style: Belgian Ale
Predicted Score for Beer with Id (48169) : 18.770392953952726
----------
Beer Id: 37108
Beer Name: Dogfish Head Palo Santo Marron
ABV: 12
BrewerID: 198
Style: American Strong Ale
Predicted Score for Beer with Id (37108) : 18.70737329984385
----------
Beer Id: 22242
Beer Name: Flying Dog Double Dog Double Pale Ale
ABV: 11.5
BrewerID: 109
Style: American Strong Ale
Predicted Score for Beer with Id (22242) : 18.692894387008586
----------
Beer Id: 72463
Beer Name: Cigar City Sea Bass
ABV: 7
BrewerID: 9990
Style: Sour Ale/Wild Ale
Predicted Score for Beer with Id (72463) : 18.675278339676264
----------
Beer Id: 41578
Beer Name: Hoppin Frog Mean Manalishi
ABV: 8.2
BrewerID: 8035
Style: Imperial/Double IPA
Predicted Score for Beer with Id (41578) : 18.62457439698312
----------
Beer Id: 721
Beer Name: Rogue Shakespeare Oatmeal Stout
ABV: 6
BrewerID: 96
Style: Stout
Predicted Score for Beer with Id (721) : 18.6089024420637
----------
Beer Id: 1936
Beer Name: Bush de No�l &#40;Scaldis Noel&#41;
ABV: 12
BrewerID: 526
Style: Belgian Strong Ale
Predicted Score for Beer with Id (1936) : 18.58569274837842
----------
Beer Id: 39471
Beer Name: North Coast Old Rasputin Anniversary Bourbon Barrel Aged Stout
ABV: 11.5
BrewerID: 108
Style: Imperial Stout
Predicted Score for Beer with Id (39471) : 18.56948912426993
----------

So we have the properties for the top 20 beers that "mribm" likes. In this case we can get an idea that "mribm" likes beers where the ABV is relatively high since the average ABV for these beers was around 9.5. Also there is some repetition in the Style of Beer and BrewerIds suggesting that the"mribm" might have an affinity for beers of certain styles and from certain brewers. 

So let's say we're a Brewer and we're trying to introduce a new beer to the market. We have a certain BrewerId, our beer has a certain Style, and our ABV is a certain percentage. Based on these properties I will score how often our new beer lines up with that of the top 10 beers. 


We'll go through each of the top 10 beers and check for the following input beer properties.

- For our provided ABV, if it is within a certain range from the ABV of the top beer we add 1 point
- For our provided BrewerID if it matches up we add 1 point
- For our provided Style, if it matches up we add 1 point

We'll multiply the total above by the predicted score out of 20. That way if the user was predicted to give a 20/20 for a beer they'll retain the full score and likewise if they were predicted to give the beer a 10/20 they would retain half the score.


We run this through all of the top 20 beers and sum the scores from each of them to get our final "likeability" score based on the input beer properties. This will give us an indicator of how likely this user would like our New Beer. 

We do the same for the rest of the users in our dataset and get the top users with the highest scores and they would be our potential customers for our new beer.

In [171]:
# lets say we're introducing our new beer with the following properties
new_beer_brewerId = 3490
new_beer_style = 'Abt/Quadrupel'
new_beer_abv = 12

In [172]:
# implementation for the scoring system mentioned above
def get_likeability_score(user_ratings, input_brewerId, input_style, input_abv, abv_threshold=1):
    final_score = 0
    for beerIndex in reversed(np.argsort(user_ratings)[-20:]):
        # get beer id
        beerId = beer_user_ratings.columns.values[beerIndex]
        
        # get beer properties
        abv =  float(beers_info.loc[beers_info['beerId_cat'] == beerId]['ABV'].values[0])
        brewerId = beers_info.loc[beers_info['beerId_cat'] == beerId]['brewerId'].values[0]
        style  = beers_info.loc[beers_info['beerId_cat'] == beerId]['style'].values[0]
        
        # check if abv is within certain range
        
        if (abv - abv_threshold) <= input_abv <= (abv + abv_threshold):
            final_score += 1
        
        if brewerId == input_brewerId:
            final_score += 1
            
        if input_style in style:
            final_score += 1
        
    return final_score*user_ratings[beerIndex]/20

In [173]:
# lets get the likeability score for our friend "mribm"
get_likeability_score(mr_ibm_user_ratings, 3490, 'Abt/Quadrupel', 12)

10.213219018348461

Now let's get the likeability score for all the users.

In [174]:
final_user_likeability_scores = []

for i in range(0, len(final_ratings)):
    
    # get user name
    userId = beer_user_ratings.index.values[i]
    userName = userId_to_Name.loc[userId_to_Name['userId'] == userId]['profileName'].values[0]
    #print(str(i) + " " + userName)
    # get user ratings 
    user_ratings = final_ratings[i]
    
    # get likeability score from user_ratings
    likeability_score = get_likeability_score(user_ratings, new_beer_brewerId, new_beer_style, new_beer_abv)
    
    final_user_likeability_scores.append({"user": userName, "likeability_score": likeability_score})

In [176]:
sorted_scores = sorted(final_user_likeability_scores, key=lambda k: k['likeability_score'], reverse=True)

In [177]:
sorted_scores[:25]

[{'user': 'mribm', 'likeability_score': 10.213219018348461},
 {'user': 'Leighton', 'likeability_score': 9.718911921009681},
 {'user': 'hophead75', 'likeability_score': 9.693727438049795},
 {'user': 'lampeno420', 'likeability_score': 9.433628918755632},
 {'user': 'lusikka', 'likeability_score': 9.404424775458697},
 {'user': 'LilKem', 'likeability_score': 9.25259159169947},
 {'user': 'Hammy78', 'likeability_score': 9.202447052065768},
 {'user': 'OldGrowth', 'likeability_score': 9.198000006803122},
 {'user': 'wxman', 'likeability_score': 9.115318448508685},
 {'user': 'Defreni', 'likeability_score': 9.113605455405073},
 {'user': 'mikenodak', 'likeability_score': 9.10356550023791},
 {'user': 'gibson584', 'likeability_score': 9.070573333655162},
 {'user': 'mmcdowell3', 'likeability_score': 8.991859462224328},
 {'user': 'Aquilo', 'likeability_score': 8.981681344835614},
 {'user': 'MaliMisho', 'likeability_score': 8.932750340123166},
 {'user': 'fata2683', 'likeability_score': 8.93249534144295},
 {'user': 'theisti', 'likeability_score': 8.927673028601486},
 {'user': 'PushEject', 'likeability_score': 8.899501765080489},
 {'user': 'Dough77', 'likeability_score': 8.88850275812008},
 {'user': 'GranvilleTim', 'likeability_score': 8.882859588494552},
 {'user': 'KyotoLefty', 'likeability_score': 8.861838824419648},
 {'user': 'mhelgason', 'likeability_score': 8.859707837853351},
 {'user': 'lweiberg', 'likeability_score': 8.84772917608171},
 {'user': 'JohnBarleycorn', 'likeability_score': 8.838671688592083},
 {'user': 'jebb12', 'likeability_score': 8.83365256360102}]

Based on the likeability scores now we have our top potential customers for our new beer. These would be the people we should try to market our beer to.